* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: url(assets/images/03705e2ebc4d997e.svg), auto;
}

body {
    overflow-x: hidden;
    /* background-color: #9de8e7; */
    background-color: #232946;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.project-info {
    display: flex;
    justify-content: flex-start;
}

.project {
    width: 85%;
    font-size: 4.5vw;
    font-weight: 700;
    font-style: italic;
    color:#fff;
    margin-left: 2vw;
    /* margin-top: 1.5vw; */
    line-height: 4vw;
    text-shadow: -1px -1px 0 #b8c1ec, 1px -1px 0 #b8c1ec, -1px 1px 0 #b8c1ec, 1px 1px 0 #b8c1ec;    
}

.project:hover{
    color: #fff;
    text-shadow: -2px -2px 0 #b8c1ec, 2px -2px 0 #b8c1ec;    
}

.buttons {
    cursor: pointer;
    border: none;
    margin-top: 1vw;
    margin-left: 2.1vw;
    height: 2.5vw;
    width: 2.5vw;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(back.png);
    background-size: cover;
    background-position: center;
}

.buttons:hover {
    font-weight: 500;
}

.bottom {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* border: blue 1px solid; */
    /* height: 70%; */
    flex: 1 1 80%;
    padding: 2vw;
    min-height: 100vw;
}

.portfolio{
    display: grid;
    height: 100%;
    /* background-color: #69a3f4; */
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 20px;
}


.portfolio-item {
    background-color: rgb(107, 107, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.portfolio-item.large-square {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 1;
    grid-column: span 2;
}

.portfolio-item.small-square {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.normal {
    grid-row: span 2;
    grid-column: span 3;
}

.portfolio-item.thin {
    grid-row: span 2;
    grid-column: span 1;
}

.portfolio-item:hover {
    background-blend-mode: multiply;
}


.text {
    display: none;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
}


.A1:hover  #textA1{
    display: block;
    color: white;
}

.A2:hover  #textA2{
    display: block;
    color: white;
}

.A3:hover  #textA3{
    display: block;
    color: white;
}

.A4:hover  #textA4{
    display: block;
    color: white;
}

.A5:hover  #textA5{
    display: block;
    color: white;
}

.A6:hover  #textA6{
    display: block;
    color: white;
}

.A7:hover  #textA7{
    display: block;
    color: white;
}

.A8:hover  #textA8{
    display: block;
    color: white;
}

.A9:hover  #textA9{
    display: block;
    color: white;
}

.A10:hover  #textA10{
    display: block;
    color: white;
}

.A11:hover  #textA11{
    display: block;
    color: white;
}

.A12:hover  #textA12{
    display: block;
    color: white;
}

.A13:hover  #textA13{
    display: block;
    color: white;
}

strong {
    color: bfbfbf;
    font-weight: 300;
    font-size: 0.8vw;
}

a {
    text-decoration: none;
    color: white;
}