@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background: #e5f4ff;
    position: relative;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
}

body.loaded {
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

#modelGif {
    position: fixed;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%) scale(1);
    max-width: 90%;
    max-height: 90%;
}


.webgl {
    display: none;
}


/* Navbar Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    background-color: #e5f4ff;
    z-index: 9999;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

nav ul {
    list-style: none;
    margin: 5px 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 2vw;
    color : #000;
    cursor: pointer;
    line-height: 2vw;
    font-style: italic;
    border: none;
    background:rgba(255, 255, 255, 0);
    font-weight: 500;
}

nav a:hover {
    font-size: 2.2vw;
    text-decoration: underline;
    font-weight: 600;
}

nav a:focus {
    text-decoration: underline;
    font-weight: 700;
    /* color: #8163ff; */
    color: #b8c1ec;
}

/* Sections */
section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.title {
    position: absolute;
    left: 2vw;
    top: 2.7vw;
    /* width: 600px; */
    font-size: 6vw;
    font-weight: 700;
    font-style: italic;
    /* color: white; */
    /* border:1px solid #F00; */
    /* border: red solid 1px; */
}

.title > a {
    color: #778ccc;
    text-shadow: .1em .1em 0 rgba(255, 255, 255, 0.5);
}

.title > a:hover{
    color: white;
    cursor: pointer;
    text-shadow: -1px -1px 0 #b8c1ec, 1px -1px 0 #b8c1ec, -1px 1px 0 #b8c1ec, 1px 1px 0 #b8c1ec;
}

.name {
    position: absolute;
    left: 2.5vw;
    top: 10.5vw;
    font-size: 1.5vw;
    font-weight: 700;
    /* border:1px solid #F00; */
}

/* .name > a {
    color: #42e29a;
    text-shadow: .1em .1em 0 rgb(126, 123, 96);
} */

.contactLinks {
    color: #3d332c;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    /* border:1px solid rgb(89, 0, 255); */
    display: flex;
    justify-content: right;

}

#aboutMe, #email, #wechat, #linkedin, #youtube, #instagram {
    display: inline-block;
    margin-left: 3vw;
    font-size: 1.5vw;
    /* border:1px solid rgb(89, 0, 255); */
    line-height: 0.5vw;
}

#emailAddress{
    position: absolute;
    left:15vw;
    background-color: #fff;
    /* margin-top: 35px; */
    font-size: 0.7vw;
    font-weight: 500;
    /* border:1px solid rgb(89, 0, 255); */
    visibility: hidden;
}

#email:hover #emailAddress {
    visibility: visible;
}

#wechatAccount{
    position: absolute;
    left:25vw;
    background-color: #fff;
    /* margin-top: 35px; */
    font-size: 0.7vw;
    font-weight: 500;
    /* border:1px solid rgb(89, 0, 255); */
    visibility: hidden;
}

#wechat:hover #wechatAccount {
    visibility: visible;
}

.uxdesign .container, .models .container, .photos .container {
    margin-left: 20px;
}

.videos .container, .games .container{
    float: right;
    margin-right: 40px;
}

section .container {
    width: 45vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4vw;
    /* max-height: 80vh; */
    margin: 0 auto;
    justify-content: center;
    /* margin-left: 20px; */
}

/* Contents */
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 3vh;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    /* flex: 0.5; */
    /* margin: 10px; */
    position: relative;
    margin-top: 2vh;
    -webkit-transition: all 700ms ease-in;
    
}

.containerTitle {
    background-color: #778ccc;
    height: 8vh;
    font-size: 5vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.content_title {
    font-size: 4vh;
    /* position: absolute; */
    padding-left: 10px;
    opacity: 1;
    background-color: #b8c1ec;
    height: 5vh;
    /* margin-bottom: 2vh; */
}

span {
    font-size: 3vh;
    color: #e5f4ff;
}

.content_comment {
    font-size: 2vh;
    padding-left: 10px;
    /* position: absolute; */
    opacity: 0;
    height: 2vh;
}

.panel.active {
    flex: none;
    border-radius: 0;
    height: 40vh;
}
  
.panel.active .content_title {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active .content_comment {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.loading-bar {
    position: fixed;
    top: 50%;
    width: 100%;
    height: 2px;
    z-index: 100;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: top left;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;  
    border-radius: 12px;
    background: linear-gradient(to bottom right, #778ccc, #b8c1ec);
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
}

#scroll-to-top:not([disabled]):hover {
    font-size: 20px;
}
